<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Advisicon delivers strategic project management solutions using advanced 
  project and portfolio management methodologies, custom application 
  development and comprehensive training. Our clients througout North and 
  Latin America have realized quantifiable results through our three unique
  philosophy tenets: knowledge transfer, optimization and sustained results.
</p>
