<% provide(:title, 'Careers') %>
<% provide(:keywords, 'Job, Career, social media, marketing, IT, Project Management, Portfolio Management, Microsoft Project Server, Project Server, Microsoft SharePoint, EPM') %>
<h1>Careers</h1>
<p>Current openings:</p>
<ul>
  <li></li>
</ul>
