<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<h2>Advisicon Headquarters</h2>
<p>
  5411 NE 107th Ave, Suite 200<br />
  Vancouver, WA 98662<br />
  Toll Free: 866-363-3847<br />
  Local: 360-314-6702<br />
  Email us at: Info@Advisicon.com
</p>
