 @import "bootstrap"; 

/* CSS Document */

  /* converted to SCSS */

    /* colors */
    $secondary-color:             #860c0c;
    $transparent-secondary-color: rgba(134, 12, 12, .75);
    $tertiary-color:              #ffcc33;

    /* fonts */
    $font-stack:                  'Calibri', Arial, sans-serif;

    /* mixins */
    @mixin center-placement {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @mixin border-radius($radius) {
      -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
          -ms-border-radius: $radius;
           -o-border-radius: $radius;
              border-radius: $radius;
    }

    @mixin base-typography($font-size) {
      font-family: $font-stack;
      font-size:   $font-size;
      line-height: 1.125;
    }

    /* bootstrappiness */

      /* universal */
      
      html { overflow-y: scroll; }

      body { padding-top: 60px; }

      section { overflow: auto; }

      textarea { resize: vertical; }

      .center { text-align: center; }

      .center h1 { margin-bottom: 10px; }

      /* typography */

      h1, h2, h3, h4, h5, h6 { line-height: 1; }

      h1 {
        font-size: 3em;
        letter-spacing: -2px;
        margin-bottom: 30px;
        text-align: center;
      }

      h2 {
        font-size: 1.2em;
        letter-spacing: -1px;
        margin-bottom: 30px;
        text-align: center;
        font-weight: normal;
        color: #999;
      }

      p {
        font-size: 1.1em;
        line-height: 1.7em;
      }

      /* header */

      #logo {
        float: left;
        margin-right: 10px;
        font-size: 1.7em;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: -1px;
        padding-top: 9px;
        font-weight: bold;
        line-height: 1;
        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }

      /* footer */

      footer {
        margin-top: 45px;
        padding-top: 5px;
        border-top: 1px solid #eaeaea;
        color: #999;
        a {
          color: #555;
          &:hover {
            color: #222;
          }
        }
        small { float: left; }
        ul {
          float: right;
          list-style: none;
          li {
            float: left;
            margin-left: 10px;
          }
        }
      }

    /* things that have stuff applied */
/*    #content, #footer, #nav {
      @include center-placement;
    }

    h1, h2 {
      color: $secondary-color;
    }

    h1 { @include base-typography(1.125em); }
    h2 { @include base-typography(1em); }

    .rPopBox {
      border: 1px solid $secondary-color;
      @include border-radius(5px);
    }

    #mainNavigation a:hover {
      color: $tertiary-color;
    }

    #highlightsNavigation a {
      @include base-typography(0.6875em);
    }

    .navbarmini a:active {
      color: $tertiary-color * .75;
    }
    
    .tweet a img {
      @include border-radius(5px);
    }
    a:hover, a:active {
      color: $secondary-color;
      border-bottom: 1px solid $secondary-color;
    }

    a:hover, a:active {
      color: $secondary-color;
      border-bottom: 1px solid $secondary-color;
    }

    a:active {
      background-color: $transparent-secondary-color;
    }

    a.download {
      @include base-typography(0.875em);
      &:visited, &:active {
        color: $transparent-secondary-color * .5;
      }
    }

    abbr:hover {
      color: $secondary-color;
      border-bottom: 1px dotted $secondary-color;
    }
*/
    /* more stuff */
/*    #content {
      max-width: 950px;
    }
      */
