<!--
<div id='accordianAds'>
  <ul class='accordion1'>
    <li class='five'>
      <%= image_tag 'app-dev-slide.jpg',  border: '0',
                                          alt: 'We offer custom Application Development',
                                          usemap: '#slide5' %>
    </li>
    -->
                                        <!-- END five -->
    <!--
    <li class='two'>
      <%= image_tag 'training-slide.jpg', border: '0',
                                          alt: 'We offer comprehensive training programs',
                                          usemap: '#slide4' %>
                                        </li>-->
                                        <!-- END two -->
    <!--
    <li class='one'>
      <img border='0' src='pix/slide3.jpg'  
           alt='We specialize in SharePoint' 
           usemap='#slide3' />
         </li>--><!-- END one -->
    <!--
    <li class='three'>
      <img border='0' src='pix/slide2.jpg'  
           alt='We can set up Microsoft Project and Microsoft Project Server' 
           usemap='#slide2' />
         </li>--><!-- END three -->
    <!--
    <li class='four'>
      <img border='0' src='pix/slide1.jpg' 
           alt='We deliver project, program, and portfolio management consulting services'
           usemap='#slide1' />
      <map name='slide1' id='slide1'>
        <area shape='rect' coords='303,203,399,245' 
              href='/project-management.htm' alt='project management slide' />
      </map>
      <map name='slide2' id='slide2'>
        <area shape='rect' coords='331,187,427,229' 
              href='/microsoft-project-office.htm' alt='microsoft project office slide' />
      </map>
      <map name='slide3' id='slide3'>
        <area shape='rect' coords='341,208,437,250' 
              href='/sharepoint.htm' alt='sharepoint slide' />
      </map>
      <map name='slide4' id='slide4'>
        <area shape='rect' coords='341,206,437,248' 
              href='/training.htm' alt='training slide' />
      </map>
      <map name='slide5' id='slide5'>
        <area shape='rect' coords='302,195,398,237' 
              href='/application_development.htm' alt='application development slide' />
      </map>
    </li>--><!-- END four -->
  </ul>--><!-- END accordion1 -->
</div>--><!-- END accordianAds -->
